
# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
http_password: XXX

home_latitude: XXX
home_longitude: XXX
home_time_zone: XXX

telegram_api_key: XXX
telegram_chat_id: XXX

google_client_id: XXX
google_client_secret: XXX
google_account: XXX

openweathermap_api_key: XXX